.container {
 
  text-align: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all{
  display: none;
}
.rightSide{
  position: relative;
 left: 2.5cm ;
 bottom: 4cm;
}

.Img{
  width: auto;
  height: auto;
  border-top: 1.5px solid black;
  border-left:  1.5px solid black;
  border-right:  1.5px solid black;
  border-bottom:  1.5px solid black;
}
@media only screen and (min-width: 1024px) {
  .App-header {
    text-align:left;
    margin-left:5%;
    width:480px;
  }
  .rightSide {
    text-align:left;
    margin-left:5%;
    width:480px;
  }
}
@media (min-width:992px){
  .App{
      width: 45%;
      display: inline-block;
  }
 

}
